[submodule "OCA/purchase-workflow"]
	path = OCA/purchase-workflow
	url = git@github.com:OCA/purchase-workflow.git
	branch = 13.0

[submodule "OCA/web"]
	path = OCA/web
	url = git@github.com:OCA/web.git
	branch = 13.0

[submodule "SNVA-PROYECTOS-MASTER/Nomina_base"]
	path = SNVA-PROYECTOS-MASTER/Nomina_base
	url = git@github.com:SNVA-PROYECTOS-MASTER/Nomina_base.git
	branch = V17

[submodule "SNVA-PROYECTOS-MASTER/Nomina_plus"]
	path = SNVA-PROYECTOS-MASTER/Nomina_plus
	url = git@github.com:SNVA-PROYECTOS-MASTER/Nomina_plus.git
	branch = V17
