# The officially supported versions of the following packages are their
# python3-* equivalent distributed in Ubuntu 22.04 and Debian 11
pem==23.1.0
xmlsig==1.0.1
requests==2.32.3
lxml==4.8.0
PyQRCode==1.2.1
