div.field-login > label {
    color: #373a3c;
}
div.field-password > label {
    color: #373a3c;
}
.contact-form-page{
     height: 50px;
     width: 50px;
     display: block;
     border-radius: 50%;
     position: absolute;
     bottom: 42px;
     right: 42px;
     overflow: hidden;
     -webkit-transition: all 0.5s;
     -moz-transition: all 0.5s;
     -o-transition: all 0.5s;
     transition: all 0.5s;
     background: #7EC6E7;
}
 .show-profile{
     background: #7c7bad;
     height: 94%;
     display: block;
     width: 330px;
     bottom: 0;
     right: -1px;
     position: absolute;
     border-radius: 0;
     padding-bottom: 30px;
}
 .form-profile-img{
     float: left;
}
 .form-profile-img img{
     border-radius: 50%;
     margin: 20px 0 0 14px;
}
 .contact-form-page h1{
     font-size: 18px;
     color: #fff;
     margin: 5px 26px;
     padding: 0px;
     line-height: 29px;
     padding-right: 30px;
}
 .top-btn{
     position: absolute;
     top: 15px;
     right: 15px;
     background: #98D1EC;
     color: #fff;
     padding: 15px 0;
     text-align: center;
     width: 60px;
     height: 60px;
     border-radius: 50%;
     -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
     -o-transform: rotate(0deg);
     transform: rotate(0deg);
     -webkit-transition: all 1s;
     -moz-transition: all 1s;
     -o-transition: all 1s;
     transition: all 1s;
     opacity: 0;
}
 .top-btn:hover{
     -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
     -o-transform: rotate(360deg);
     transform: rotate(360deg);
     background: #7EC6E7;
     color: #fff 
}
 .header-btn, .footer-btn a{
     font-size: 20px;
     color: #fff;
     background: #3aa8db;
     float: right;
}
 .form-head{
     display: block;
}
 .cancel-btn-img{
     position: relative;
}
 .footer-btn{
     position: relative;
}
 .buttom-btn{
     position: absolute;
     bottom: 30px;
     right: 30px;
     background: #3aa8db;
     color: #fff;
     padding: 21px;
     text-align: center;
     width: 75px;
     height: 75px;
     border-radius: 50%;
     -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
     -o-transform: rotate(0deg);
     transform: rotate(0deg);
     -webkit-transition: all 0.5s;
     -moz-transition: all 0.5s;
     -o-transition: all 0.5s;
     transition: all 0.5s;
     opacity: 1;
}
 .buttom-btn i{
     font-size: 30px;
}
 .buttom-btn:hover{
     -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
     -o-transform: rotate(360deg);
     transform: rotate(360deg);
     background:#71C0E5;
     color: #fff 
}
 input.form-control {
     height: 40px;
     border-radius: 0;
     outline: none;
}
 textarea.form-control {
     height: 100px;
     border-radius: 0;
}
 .contact-form-page form{
     padding: 0 26px;
}
 .contact-form-page #note {
    height: 40px;
 }
 .contact-form-page .submit-buttom{
     padding: 10px 40px;
     text-align: center;
     display: block;
     border-radius: 0;
     background: #007BB5;
     border: none;
     border-bottom: 5px solid #005B85;
     text-shadow: none;
     box-shadow: none;
     font-size: 16px;
     color: #ffffff;
     text-transform: uppercase;
     font-family: 'Roboto Condensed', sans-serif;
}
 .contact-form-page .form-group label{
     font-size: 14px;
     color: #fff;
}
/* BUTTON OPACITY STYLE */
 .top-btn-show{
     opacity: 1 !important;
     -webkit-transition: all 0.5s;
     -moz-transition: all 0.5s;
     -o-transition: all 0.5s;
     transition: all 0.5s;
}
 .buttom-btn-hide{
     opacity: 0 !important;
     -webkit-transition: all 0.5s;
     -moz-transition: all 0.5s;
     -o-transition: all 0.5s;
     transition: all 0.5s;
}
/* GITHUB SOURCE STYLE */
 .github-source{
     display:inline-block;
     color:#000;
     margin:20px;
     position: relative;
     z-index:999999;
}
 .github-source i{
     font-size:50px;
     color:#fff 
}
.o_chat_window{
    height: 550px !important;
    width: 330px !important;
}
 .contact-form-page{
     height: 50px;
     width: 50px;
     display: block;
     border-radius: 50%;
     position: absolute;
     bottom: 42px;
     right: 42px;
     overflow: hidden;
     -webkit-transition: all 0.5s;
     -moz-transition: all 0.5s;
     -o-transition: all 0.5s;
     transition: all 0.5s;
     background: #7EC6E7;
}
 .show-profile{
     background: #7c7bad;
     height: 94%;
     display: block;
     width: 330px;
     bottom: 0;
     right: -1px;
     position: absolute;
     border-radius: 0;
     padding-bottom: 30px;
}
 .form-profile-img{
     float: left;
}
 .form-profile-img img{
     border-radius: 50%;
     margin: 20px 0 0 14px;
}
 .top-btn{
     position: absolute;
     top: 15px;
     right: 15px;
     background: #98D1EC;
     color: #fff;
     padding: 15px 0;
     text-align: center;
     width: 60px;
     height: 60px;
     border-radius: 50%;
     -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
     -o-transform: rotate(0deg);
     transform: rotate(0deg);
     -webkit-transition: all 1s;
     -moz-transition: all 1s;
     -o-transition: all 1s;
     transition: all 1s;
     opacity: 0;
}
 .top-btn:hover{
     -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
     -o-transform: rotate(360deg);
     transform: rotate(360deg);
     background: #7EC6E7;
     color: #fff 
}
 .header-btn, .footer-btn a{
     font-size: 20px;
     color: #fff;
     background: #3aa8db;
     float: right;
}
 .form-head{
     display: block;
}
 .cancel-btn-img{
     position: relative;
}
 .footer-btn{
     position: relative;
}
 .buttom-btn{
     position: absolute;
     bottom: 30px;
     right: 30px;
     background: #3aa8db;
     color: #fff;
     padding: 21px;
     text-align: center;
     width: 75px;
     height: 75px;
     border-radius: 50%;
     -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
     -o-transform: rotate(0deg);
     transform: rotate(0deg);
     -webkit-transition: all 0.5s;
     -moz-transition: all 0.5s;
     -o-transition: all 0.5s;
     transition: all 0.5s;
     opacity: 1;
}
 .buttom-btn i{
     font-size: 30px;
}
 .buttom-btn:hover{
     -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
     -o-transform: rotate(360deg);
     transform: rotate(360deg);
     background:#71C0E5;
     color: #fff 
}
 input.form-control {
     height: 40px;
     border-radius: 0;
     outline: none;
}
 .contact-form-page form{
     padding: 0 26px;
}
 .contact-form-page .submit-buttom{
     padding: 10px 40px;
     text-align: center;
     display: block;
     border-radius: 0;
     background: #007BB5;
     border: none;
     border-bottom: 5px solid #005B85;
     text-shadow: none;
     box-shadow: none;
     font-size: 16px;
     color: #ffffff;
     text-transform: uppercase;
     font-family: 'Roboto Condensed', sans-serif;
}
 .contact-form-pag.form-group label{
     font-size: 14px;
     color: #fff;
}
/* BUTTON OPACITY STYLE */
 .top-btn-show{
     opacity: 1 !important;
     -webkit-transition: all 0.5s;
     -moz-transition: all 0.5s;
     -o-transition: all 0.5s;
     transition: all 0.5s;
}
 .buttom-btn-hide{
     opacity: 0 !important;
     -webkit-transition: all 0.5s;
     -moz-transition: all 0.5s;
     -o-transition: all 0.5s;
     transition: all 0.5s;
}
/* GITHUB SOURCE STYLE */
 .github-source{
     display:inline-block;
     color:#000;
     margin:20px;
     position: relative;
     z-index:999999;
}
 .github-source i{
     font-size:50px;
     color:#fff 
}

.circle {
    position: absolute;
    top:70%;
    left:50%;
    transform:translate(-50%,-50%);
    width:250px;
    height:250px;
    border: 5px solid #fff;
    box-shadow:0 0 0 5px #4973ff;
    border-radius:50%;
    overflow:hidden;
}
.wave {
    position:relative;
    width:100%;
    height:100%;
    background:#4973ff;
    border-radius:50%;
    box-shadow:inset 0 0 50px rgba(0,0,0,.5);
}
.wave:before,
.wave:after{
    content:'';
    position:absolute;
    width:200%;
    height:200%;
    top:0;
    left:50%;
    transform:translate(-50%,-75%);
    background:#000;
}
.wave:before {
    border-radius:45%;
    background:rgba(255,255,255,1);
    animation:animate 5s linear infinite;
}
.wave:after {
    border-radius:40%;
    background: rgba(255,255,255,.5);
    animation: animate 10s linear infinite;
}
@keyframes animate {
    0%{
        transform: translate(-50%,-75%) rotate(0deg);
    }
    100%{
        transform: translate(-50%,-75%) rotate(360deg);
    }
}
.wait-message{
    padding: 35px;
    color: #fff;
    text-align: center;
}
.info-chat{
    text-align: center;
    padding: 15px;
    font-size: 14px;
    color: white;
}
.o_thread_window {
    height: 560px !important;
    width: 330px !important;
}
div.contact-form-page.show-profile {
    margin-right: 1px;
}
.btn-default {
    background: white !important;
    color: black !important;
    border-color: #ccc;
}
.btn-default:hover {
    background: #e6e6e6 !important;
    color: #333 !important;
    border-color: #adadad;
}